## Pandas Advanced

In [ ]:
import pandas as pd
import numpy as np

### Seminar plan:

1. Duplicates
2. Gaps
3. Frequency tables
4. Aggregation methods
5. Groups
6. Pivot tables
7. Merge + concat

In [ ]:
# Create a DataFrame for demonstration
data = {
    'ID': [1, 2, 3, 4, 5, 6, 7, 8],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'David', 'Eva', 'Darbie', 'Frank'],
    'Age': [23, 30, 22, 25, 25, 22, 20, 28],
    'City': ['New York', 'Los Angeles', 'New York', 'San Francisco', 'San Francisco', 'Los Angeles', 'New York', 'New York']
}

df = pd.DataFrame(data)
df

# Dealing with duplicates

Syntax:

* `table.duplicated()` - searches for duplicates across all rows
* `table.duplicated(subset=[column, column...]` - searches for duplicates by given columns

In [ ]:
print("Duplicates in data:")
print(df.duplicated().sum())
df.duplicated()

In [ ]:
# Check for duplicates
print("Duplicates in the city column:")
print(df.duplicated(subset=['City']).sum())
df.duplicated(subset=['City'])

* `df[ df.duplicated(...) ]` - tabular output of repeating rows:

In [ ]:
# Check for duplicates
print("Duplicates in the city column:")
df[df.duplicated(subset=['City'])]

# Removing duplicates

Syntax:
* `table.drop_duplicates()` - removes all duplicates
* `table.drop_duplicates(subset=[...])` - deletes duplicates for a specific column (columns)

In [ ]:
# Removing duplicates
df_no_duplicates = df.drop_duplicates()
print("Data without duplicates:")
df_no_duplicates

In [ ]:
# Removing duplicates
df_no_duplicates_city = df.drop_duplicates(subset='City')
print("Data without duplicates:")
df_no_duplicates_city

# Gaps

In [ ]:
# Add gaps to the data
df_with_na = df.copy()
df_with_na.loc[0, 'Age'] = np.nan
df_with_na.loc[3, 'City'] = np.nan
df_with_na

# Gaps

Syntax:
* `table.isnull().sum()` - counting the number of gaps for each column
* `table.isnull().sum().sum()` - count the number of gaps across the entire table
---
* `table[table.isnull() ]` - output rows where there is at least one gap in the row
* `table[table[column].isnull() ]` - displays rows where there is at least one gap in the selected column
---
* `table.fillna(...)` - filling ALL gaps in the table with a specific value
* `table[column].fillna(...)` - filling gaps in a COLUMN with a specific value

In [ ]:
# Check for gaps
print("Checking for gaps:")
df_with_na.isnull().sum()

In [ ]:
# Check for gaps
print("Total amount of gaps:")
df_with_na.isnull().sum().sum()

In [ ]:
# Check for gaps
print("Total amount of gaps:")
df_with_na[df_with_na['City'].isnull()]

In [ ]:
# Filling gaps
df_filled = df_with_na.fillna(
    {'Age': df['Age'].mean(), 'City': 'Unknown'}
)
print("\nData after filling in the gaps:")
df_filled

# Frequency tables

Syntax:
* `table[column].value_counts()` - counting the number of values ​​in a column
    * By default, data is arranged in descending order
* `table[column].value_counts(ascending=True)` - counting the number of values ​​in a column **ascending**
---

#### Additional frequency table attributes
* `table[column].value_counts().to_frame()` - transfer to **pd.DataFrame** object (beautiful looking)
* `table[column].value_counts().index` - displays all unique values ​​by column in ascending order
* `table[column].value_counts().values` - output values ​​= the number of times a particular value was encountered in a column
* `table[column].value_counts().argmin()` - search for the value that occurred RARELY (least)
* `table[column].value_counts().argmax()` - search for the value that occurred MOST OFTEN (most) of all

In [ ]:
# Frequency table for the "City" column
print("\nFrequency table for the city:")
print(df['City'].value_counts())

In [ ]:
# Frequency table for the "City" column
print("\nFrequency table for the city:")
df['City'].value_counts().to_frame()

In [ ]:
# Frequency table for the "City" column
print("Frequency table indexes = cities:")
df['City'].value_counts().index

In [ ]:
# Frequency table for the "City" column
print("Frequency table values ​​= quantity:")
df['City'].value_counts().values

In [ ]:
# Frequency table for the "City" column
print("Index of the city that was least frequently encountered:")
df['City'].value_counts().argmin()

In [ ]:
# Frequency table for the "City" column
print("Index of the city most frequently encountered:")
df['City'].value_counts().argmax()

# Aggregation methods and grouping

Syntax:
* `table.groupby(column 1)[column 2].function` - grouping by column 1 using the count function for column 2 (column for count)
    * Basic functions: `mean`, `min`, `max`, `sum`
* `table.groupby([column 1, column 2...])[column 3].function` - grouping by several columns (column 1, 2) using the counting function for column 3 (column for count)
* `table.groupby(column 1)[column 2, column 3...].function` - group by column 1 using the counting function for multiple columns (column for count)
* `table.groupby(column 1).agg({'column 2': [function 1, function 2...]}')` - group by column 1 with multiple functions applied to column 2

In [ ]:
# Applying aggregation
agg_result = df.groupby('City')['Age'].mean()
print("Aggregation by city:")
agg_result.to_frame()

In [ ]:
# Applying aggregation
agg_result = df.groupby(['City', 'Name'])['Age'].min()
print("Aggregation by city + name:")
agg_result.to_frame()

In [ ]:
# Applying aggregation
agg_result = df.groupby('City')[['Age', 'Name']].count()
print("Aggregation by city for 2 columns:")
agg_result

In [ ]:
# Applying aggregation
agg_result = df.groupby('City').agg({'Age': ['mean', 'std']})
print("Aggregation by city with counting of different functions for the Age column:")
agg_result

In [ ]:
# Applying aggregation
agg_result = df.groupby('City').agg({'Age': ['mean', 'std'], 'Name': 'count'})
print("Aggregation by city with counting of different functions for the Age column:")
agg_result

# Pivot tables

Syntax:
* `pd.pivot_table(data=table, index=column 1, columns=column 2, values=column 3, aggfunc=function list)`
    1. `data` - data, where to get information from
    2. `index` - column by which values ​​should be grouped
    3. `columns` - the column from which the values ​​for the PIVOT table columns will be taken
    4. `values` - the column by which calculations will be made
    5. `aggfunc` - function/list of functions that will be applied to the `values` column for calculation

In [ ]:
# Creating pivot table
pivot = pd.pivot_table(df, values='Age', index='City', aggfunc='mean')
print("\nSummary table by age and city:")
pivot

# Merging tables

Syntax:
* `table 1.merge(table 2, on=common column, how=merge method)` - merging two tables using **one common column**
* `table 1.merge(table 2, left_on=..., right_on=..., how=merge method)` - merging two tables using a common column, which is called differently in the tables
    * `left_on` - refers to table 1
    * `right_on` - refers to table 2
    
### Merge methods:
1. `inner` - **general** lines by column used
2. `outer` - **all** lines according to the used column (data that were not found will have gaps)
3. `left` - information will be found only for those column values ​​that are in **table 1** (left)
4. `right` - information will be found only for those column values ​​that are in **table 2** (right)
    
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWmZHyJcXpOdcLJuU--1w2m8r-fdeoUzPvlQ&s" width=400 height=400/>

In [ ]:
# Let's create another DataFrame for merging
df2 = pd.DataFrame({
    'ID': [1, 2, 3, 5, 10],
    'Salary': [50000, 60000, 70000, 75000, 55000]
})

##### Inner join

In [ ]:
# Merge data by column 'ID'
merged_df = pd.merge(df, df2, on='ID')
print("Inner join data for the general ID column:")
merged_df

##### Outer join

In [ ]:
# Merge data by column 'ID'
merged_df = pd.merge(df, df2, on='ID', how='outer')
print("Outer join data for the general ID column:")
merged_df

##### Left join

In [ ]:
# Merge data by column 'ID'
merged_df = pd.merge(df, df2, on='ID', how='left')
print("Left join data for the general ID column:")
merged_df

##### Right join

In [ ]:
# Merge data by column 'ID'
merged_df = pd.merge(df, df2, on='ID', how='right')
print("Outer join data for the general ID column:")
merged_df

# Concat

Long story short - **gluing** tables

Syntax:
* `pd.concat([table 1, table 2])` - merging tables **vertically** (data from table 2 will be “glued” to table 1 below
* `pd.concat([table 1, table 2], axis=1)` - merging tables **horizontally** (data from table 2 will be “glued” to table 1 on the right

#### Additional attributes
* `pd.concat([table 1, table 2], ignore_index=True/False)` - reset/ignore the index accordingly

In [ ]:
# Create a second DataFrame for concat
df3 = pd.DataFrame({
    'ID': [7, 8],
    'Name': ['Grace', 'Hannah'],
    'Age': [24, 26],
    'City': ['Chicago', 'Chicago']
})

In [ ]:
# Merging data vertically + reset index
concat_vertical = pd.concat([df, df3], ignore_index=True)
print("\nMerging vertically:")
concat_vertical

In [ ]:
# Merging data vertically + save index
concat_vertical = pd.concat([df, df3], ignore_index=False)
print("\nMerging vertically:")
concat_vertical

In [ ]:
# Merge horizontally
concat_horizontal = pd.concat([df, df2], axis=1)
print("\nMerging horizontally:")
concat_horizontal