## Tuple

There is another sequence type that is very similar to lists. The major difference is that we cannot change it after we've created one. Such sequence is called a **tuple**.

We can create one using usual brackets instead of square ones.

In [ ]:
a = (1, 2, 3, 4, 5, 6)
print(type(a))

<class 'tuple'>

## Mutable and immutable data types

It was said that we cannot change a tuple. Let's find out what does it mean.

Let's try to change an element withing a list.

In [ ]:
shopping_list = ['bread', 'milk', 'ice cream', 'cheese']
shopping_list[2] = 'chocolate'
print(shopping_list)

['bread', 'milk', 'chocolate', 'cheese']

Now you see that we can assign a new element by a list index. Thus list is a **mutable data type**.

But we cannot do the same with a tuple.

In [ ]:
shopping_tuple = ('bread', 'milk', 'ice cream', 'cheese')
shopping_tuple[2] = 'chocolate'

TypeError: ignored

Tuples are **immutable**. Another data type that is also immutable is string.

In [ ]:
s = 'bread'
s[0] = 'B'

TypeError: ignored

If we really want to change an element inside the tuple we can always convert it to a list, change element, and convert it back. This situation is rather exotic, but let's check how we can do something like this.

`list()` function can transform a tuple to a list, and `tuple()` vice versa. It's similar to the convertion of a string `'2'` to an integer via `int()` function.

Later we will see that we can use `tuple()` and `list()` to convert some data types into tuples and lists as well.

In [ ]:
shopping_tuple = ('bread', 'milk', 'ice cream', 'cheese')
shopping_list = list(shopping_tuple) # converting tuple to list
shopping_list[0] = 'pelmeni'  # replacing list's element

shopping_tuple = tuple(shopping_list)   # converting list with a replaced element back to tuple
print(shopping_tuple)

('батон', 'молоко', 'сметана', 'сыр', 'молоко')

So, today we have learned about **sequences**. We know two sequence-types: **list** and **tuple**. **String** is also a sequence-like data type.

Also we've learned that data types can be **mutable** or **immutable**. So far we know the only **mutable** data type, it is list.

## Unpacking: printing a sequence

If we want to print a list without square brackets or a tuple without round ones we can use `*` operator within the `print()` function.

In [ ]:
shopping_list = ['bread', 'milk', 'ice cream', 'cheese']
print(*shopping_list)

bread milk ice cream cheese

Star operator before `shopping_list` makes Python see it not like a list but as several indepenedent elements. Something like `print(shopping_list[0], shopping_list[1], shopping_list[2], shopping_list[3])`.

This operation is called *unpacking*. Later we will see that we can use unpacking in some other situations as well.

In [ ]:
shopping_list = ['bread', 'milk', 'ice cream', 'cheese']
# printing our list nicely without unpacking
print(shopping_list[0], shopping_list[1], shopping_list[2], shopping_list[3], sep=', ')
# the same but shorter
print(*shopping_list, sep=', ')

bread, milk, ice cream, cheese
bread, milk, ice cream, cheese

Please note that such syntax will not work inside an f-string.

In [ ]:
print(f'Our shopping list {*shopping_list}')

SyntaxError: ignored

Same thing works with tuples as well.

In [ ]:
students = ('Asya', 'Masha', 'Zeinab')
print(*students, sep=';') # print our students separated by `;`

Asya;Masha;Zeinab

 ## Concatenation of lists and tuples

Remember that Python allows us to glue strings together. In a smart way it is called *concatenation*.

In [ ]:
a = 'Cat'
b = 'Dog'
print(f'Just a feline canine little - {a+b}')

Just a feline canine little - CatDog

In the same way we can concatenate two lists. Let's glue together two shopping lists.

In [ ]:
# groceries
shopping_list_1 = ['bread', 'milk', 'pelmeni']
# household goods
shopping_list_2 = ['washing powder', 'soap']

# all purchases
shopping_list_all = shopping_list_1 + shopping_list_2

print(*shopping_list_all, sep=', ')

bread, milk, pelmeni, washing powder, soap

The same would work with tuples.

In [ ]:
# groceries
shopping_tuple_1 = ('bread', 'milk', 'pelmeni')
# household goods
shopping_tuple_2 = ('washing powder', 'soap')

# all purchases
all = shopping_tuple_1 + shopping_tuple_2
print(*all, sep=', ')

bread, milk, pelmeni, washing powder, soap