# Nested `for` loops

Sometimes we need to go through two lists simultaneously. E.g. let's print a part of a multiplication table for number 2, 3 and 4.

* We will first go through the list of [2, 3, 4]
* For each of the number in our list we will multiply it by numbers from 1 to 9.

In [ ]:
for b in range(1,10):
  print(b)

1
2
3
4
5
6
7
8
9

In [ ]:
for a in [2,3,4]:
    for b in range(1,10):
        print(f'{a}*{b} = {a*b}')
    print('-'*10) # printing an end-line for the multiplications for the given number
    #break   # Let's exit a loop for now after we finish multiplying by 2

2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
----------
3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
----------
4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36
----------

So, what has happened? Integer 2 was assigned to a variable `a`. Then we've started the second loop, where we had multiplied contents of `a` variable by all numbers in an interval from 1 to 9. Then we've printed ten dashes to indicate that we had finished with that number.

If we were not to exit our loop via break, it would do the same for 3 and then for 4.

In [ ]:
for a in [2,3,4]:
    for b in range(1,10):
        print(f'{a}*{b} = {a*b}')
    print('-'*10)

2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
----------
3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
----------
4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36
----------

Nested loops might be useful not only in problems with numbers. Let's print a party invitation for several students.

In [ ]:
students = ('Anna', 'Dima', 'Shushanik', 'Yu Na') # tuple of our students
date = input('Date: ')
time = input('Time: ')

for name in students: # for each student print the following invintation
  print(f'Hi, {name}!\nYou are invited to a party on {date} at {time}. Waiting for you!\n\n')

Date: 23.02
Time: 17:00
Hi, Anna!
You are invited to a party on 23.02 at 17:00. Waiting for you!


Hi, Dima!
You are invited to a party on 23.02 at 17:00. Waiting for you!


Hi, Shushanik!
You are invited to a party on 23.02 at 17:00. Waiting for you!


Hi, Yu Na!
You are invited to a party on 23.02 at 17:00. Waiting for you!

Now imagine that we want print that invitation in Russian as well. Let's create a tuple with two invitation texts.

In [ ]:
students = ('Anna', 'Dima', 'Shushanik', 'Yu Na') # tuple of our students
date = input('Date: ')
time = input('Time: ')

for name in students:
  texts = (f'Hi, {name}!\nYou are invited to a party on {date} at {time}. Waiting for you!\n\n',
           f'Привет, {name}!\nВечеринка пройдет {date} в {time}. Очень ждем!\n\n')
  for text in texts: # for each student print each invitation
    print(text)

Date: 23.02
Time: 17:00
Hi, Anna!
You are invited to a party on 23.02 at 17:00. Waiting for you!


Привет, Anna!
Вечеринка пройдет 23.02 в 17:00. Очень ждем!


Hi, Dima!
You are invited to a party on 23.02 at 17:00. Waiting for you!


Привет, Dima!
Вечеринка пройдет 23.02 в 17:00. Очень ждем!


Hi, Shushanik!
You are invited to a party on 23.02 at 17:00. Waiting for you!


Привет, Shushanik!
Вечеринка пройдет 23.02 в 17:00. Очень ждем!


Hi, Yu Na!
You are invited to a party on 23.02 at 17:00. Waiting for you!


Привет, Yu Na!
Вечеринка пройдет 23.02 в 17:00. Очень ждем!

Sometimes there are also situations when we need `for in range()` to connect three sequences. Imagine that we want to print a receipt in a book store. We have a list of prices for the purchased books, titles for those books and, finally, quantities.

In [ ]:
prices = [422, 382, 3544]
goods = ['Harry Potter and FOR Loop', 'X-Men against Doctor Tuple', 'Learning Python. Vol.1']
amount = [1, 1, 3]
for i in range(len(goods)): # [0, 1, 2]
    print(f"{goods[i]}\n{amount[i]} x {prices[i]}")
    print(f"Total: {amount[i] * prices[i]} ₽")

Harry Potter and FOR Loop
1 x 422
Total: 422 ₽
X-Men against Doctor Tuple
1 x 382
Total: 382 ₽
Learning Python. Vol.1
3 x 3544
Total: 10632 ₽

In [ ]:
for i in zip(prices, goods, amount):
  print(type(i))
  print(i)

<class 'tuple'>
(422, 'Harry Potter and FOR Loop', 1)
<class 'tuple'>
(382, 'X-Men against Doctor Tuple', 1)
<class 'tuple'>
(3544, 'Learning Python. Vol.1', 3)

In [ ]:
for i in range(len(goods)):
  print(i)

0
1
2