# `For` loop and `range`

There are cases when we need to not simply go through the elements within a list, but to call them by index. Remember an example with an enumerated shopping list.

In [ ]:
shopping_list = ['bread', 'milk', 'pelmeni']

number = 1
for thing in shopping_list:
    print(number, thing)
    number += 1 # number = number + 1

1 bread
2 milk
3 pelmeni

It would be easier to have a variable that would go from 0 to 4 and we wouldn't have to worry about updating it manually. We can actually get something like this via the `range()` function.

`range()` generates a sequence of numbers in a given interval. Let's turn `range()` into a list to check what is inside.

In [ ]:
print(range(3)) # creates an interval of numbers from 0 to 3
print(list(range(3))) # checking what is inside

range(0, 3)
[0, 1, 2]

Now let's use the result of a `range()` within a loop.

In [ ]:
for i in range(6):
    print(i)

0
1
2
3
4
5

Here `for` loop goes from 0 (including) to 3 (excluding).

We can start with other integer than 0. In this case we will need two arguments within `range()`.

In [ ]:
for i in range(2,6):
    print(i)

2
3
4
5

And, finally, we can ask Python to create an interval with a step by providing `range` with the third argument.

Let's print all odd numbers from 1 to 10 (meaning each second number within this interval).

In [ ]:
for i in range(1,10,2): # step size
    print(i)

1
3
5
7
9

Now we know enough to use `range()` to enumerate something within `for` loop.

In [ ]:
for i in range(5):
# for each number in interval from 0 to 5 (excluding)
# store it to `i` variable
  print('Hello'[i]) # print a symbol of `Hello` string with an index `i`

H
e
l
l
o

String `'Hello'` is quite short and it was not hard to count its length. To avoid mistakes it is better to use `len()` function to calculate the length of our sequence in hand.

Even though in our example we work with a string, the same would work, of course, for lists and other data types.

In [ ]:
for i in range(len('Hello')):
    print(i, 'Hello'[i]) # print index stored in `i` variable as well as a symbol with that index

0 H
1 e
2 l
3 l
4 o

Let's update our enumeration to be human-friendly.

In [ ]:
for i in range(len('Hello')):
    print(i+1, 'Hello'[i]) # update i by adding 1

1 H
2 e
3 l
4 l
5 o

Sometimes we can use `range()` instead of a `while` loop. Especially when we need to repeat an action for a given number of times. Let's feed a dog this time.

In [ ]:
n = 0            # setting an initial number of treats giving
while n < 5 :   # until we give 5 treats
    print('Giving dog a treat')   # giving a treat to a dog
    n += 1
print('Treats given:', n)

Giving dog a treat
Giving dog a treat
Giving dog a treat
Giving dog a treat
Giving dog a treat
Treats given: 5

In case if we forget to update `n`, our dog will eat all the treats in the world. If we use `for` instead we will never make a mystake â€” Python will look after a number of treats for us:

In [ ]:
for n in range(5):     # Planning to give 5 treats to a dog
    print('Giving a treat') # feeding a dog

print('Treats given:', n)

Giving a treat
Giving a treat
Giving a treat
Giving a treat
Giving a treat
Treats given: 4

Why Python thinks that only 4 treats were given? Because to `n` numbers from 0 to 4 were assigned. Thus Python repeated instructions exactly five times, but the last number it has saved is 4.

In [ ]:
for n in range(5):
    print('Giving a treat')


print('Treats given:', n+1) # correcting number of treats to be human-friendly

Giving a treat
Giving a treat
Giving a treat
Giving a treat
Giving a treat
Treats given: 5

In [ ]:
for j in range(5): # i - iterable variable
    print(j)

0
1
2
3
4

In [ ]:
sh_list = ['bread', 'milk']
for i in range(len(sh_list)):
    print(sh_list[i]) # update i by adding 1
print(i)

bread
milk
1